body * {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;  
  color: darkslategray;
  margin: 0;
}

nav {
  overflow: hidden;
  background-color: black;
  color: lightgray;
  text-align: center;
  height: 5vh;
}

div.intro {
  background-color: darkslategrey;
  color: white;
  text-align: center;
  height: 15vh;
}

div.contact-me {
  background-color: lightgrey;
  color: black;
  height: 10vh;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

div.projects{
  text-align: center;
  background-color: darkslategray;
  color: white;
  height:70vh;
}

h2 {
  height: 10%;
}

.quiz {
  height: 20%;
}

.project-2 {
  background-color: lightgray;
  height: 20%;
}

.project-3 {
  height: 20%;
}

.project-4 {
  background: lightgray;
  height: 20%;
}