body * {
  box-sizing: border-box;
  margin: 0;
}

body {
  display:flexbox
}

nav {
  overflow:hidden;
  background-color: black;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: fixed;
}

nav a {
  color: cyan;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Oswald';
}

nav a:hover {
  background-color: cyan;
  color: black;
  font-size: 24px;
}

main {
  background-color: cyan;
  display:flex;
  line-height: 1.5;
  padding: 10px;
  height: 100vh;
  padding-top:5vh;
}

h1 {
  font-family: 'Open Sans';
  font-style: bold;
  padding: 5px;
}

p {
  padding: 10px;
}