body * {
  box-sizing: border-box;
  margin: 0;
}

body {
  display:flexbox;
  background-color: cyan;
}

nav {
  overflow:hidden;
  background-color: black;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: fixed;
}

nav a {
  color: cyan;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Oswald';
}

nav a:hover {
  background-color: cyan;
  color: black;
  font-size: 24px;
}

.intro {
  background-color: cyan;
  display:flex;
  flex-direction: column;
  line-height: 1.5;
  padding: 10px;
  padding-top:5vh;
}

h1 {
  font-family: 'Open Sans';
  font-style: bold;
  padding: 5px;
}

p {
  padding: 10px;
  font-family: 'Oswald';
}

a {
  color: black;
  font-family: 'Oswald';
}

p.tech {
  display: flex;
  justify-content: center;
  padding-bottom: 3vh;
}

div.contact-me {
  padding-top: 5vh;
  background-color: #2f4f4f;
  color: cyan;
  text-align: center;
  padding-bottom: 5vh;
}

div.contact-me a{
  color: #00ffff;
  padding-left: 15px;
}

h2 {
  text-align: center;
  font-family: 'Open Sans';
}

h3 {
  padding-top: 2vh;
  text-align: center;
  padding-bottom: 2vh;
  font-family: 'Open Sans';
}

div.projects {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

div.projects p {
  text-align: left;
  padding-left: 2vh;
  padding-right: 2vh;
}

section {
  padding-bottom: 2vh;
}

section.project-2 {
  background-color: darkslategray;
  color: cyan;
}

section.project-2 a {
  color: cyan;
}

section.links-2 {
  padding-bottom: 2vh;
}

section.project-3 {
  background-color: cyan;
  color: black;
}

section.project-3 a {
  color: black;
}

section.project-4 {
  background-color: darkslategray;
  color: cyan;
}

section.project-4 a {
  color: cyan;
}

img {
  width: 85%;
}

@media screen and (min-width: 700px) {
  body * {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    background-color:cyan;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    align-content: center;
    height: 100vh;
  }

  main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 15%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .nav-bar {
    overflow: hidden;
    background-color: black;
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
  }
  
  .nav-bar a:hover {
    background-color: cyan;
    color: black;
    font-size: 30px;
  }
  
  .nav-bar a {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: cyan;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Oswald';
    height: 33.3%;
    width:100%;
  }

  .intro {
    width: 85%;
    margin: auto;
    padding-bottom: 5vh;
  }

  section {
    padding-bottom: 3vh;
  }

  section a {
    padding:20px ;
  }

  .projects p {
    width: 85%;
    margin: auto;
  }

  img {
    height: 50%;
    width: 50%;
    padding-bottom: 2vh;
  }
}

@media screen and (min-width: 1024px) {
  
  body * {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    background-color:cyan;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    align-content: center;
    height: 100vh;
  }

  main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 15%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .nav-bar {
    overflow: hidden;
    background-color: black;
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
  }
  
  .nav-bar a:hover {
    background-color: cyan;
    color: black;
    font-size: 40px;
  }
  
  .nav-bar a {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: cyan;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Oswald';
    height: 33.3%;
    width:100%;
  }

  .intro {
    width: 60%;
    margin: auto;
    padding-bottom: 5vh;
  }

  section {
    padding-bottom: 3vh;
  }

  section a {
    padding:20px ;
  }

  .projects p {
    width: 50%;
    margin: auto;
  }

  img {
    width: 60%;
    padding-bottom: 2vh;
  }

  img.square {
    width: 30%
  }
}